<div class="container">
  <mat-toolbar color="primary" class="mb-3 d-flex justify-content-center">Superheroes</mat-toolbar>

  <div class="row mb-3">
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Filter by name</mat-label>
        <input matInput placeholder="Nombre del héroe" (keyup)="onFilterHeroes($event)">
      </mat-form-field>
    </div>
    <div class="col-md-6 text-md-end">
      <button mat-raised-button color="primary" (click)="toggleAddForm()">Add Superhero</button>
    </div>
  </div>

  <!-- ADD FORM -->
  <div *ngIf="showAddForm" class="row mb-3">
    <div class="col">
      <h3>Add new Superhero</h3>
      <form [formGroup]="heroForm" (ngSubmit)="onAddHero()">
        <mat-form-field appearance="fill">
          <mat-label>Superhero</mat-label>
          <input appUpperCase matInput formControlName="superhero" required>
        </mat-form-field>
        <button class="mx-3" mat-raised-button color="primary" type="submit" [disabled]="heroForm.invalid">Add</button>
      </form>
    </div>
  </div>

  <!-- EDIT FORM -->
  <div *ngIf="isEditing" class="row mb-3">
    <div class="col">
      <h3>Edit Superhero</h3>
      <form [formGroup]="heroForm">
        <mat-form-field appearance="fill">
          <mat-label>Superhero</mat-label>
          <input appUpperCase matInput formControlName="superhero" required>
        </mat-form-field>
        <button class="mx-3" mat-raised-button color="warn" (click)="onCancelEdit()">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="heroForm.invalid" (click)="onSaveEdit()">Save</button>
      </form>
    </div>
  </div>

  <!-- TABLE -->
  <div class="row">
    <div class="col">
      <mat-table [dataSource]="dataSource" mat-table class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let hero">{{ hero.id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="superhero">
          <mat-header-cell *matHeaderCellDef>Superhero</mat-header-cell>
          <mat-cell *matCellDef="let hero">{{ hero.superhero }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let hero">
            <button mat-icon-button color="primary" (click)="onEditSuperhero(hero)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteSuperHero(hero)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10]" (page)="onPageChange($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
